.container-circularGallery {
    height: 350px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.circular-gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;
}

.circular-gallery:active {
    cursor: grabbing;
}

@media (max-width: 768px) {
    .container-circularGallery{
        height: 200px;
        bottom: 20px;
        display: none;
    }
}

